@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;700&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}
.container {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
.header {
	padding: 20px 0	;
	font-size: 15px;
	font-weight: 700;
}